
        <h1>The About Page</h1>
        <h2> Some of my favorite things</h2>

        <% myFavorites.forEach(favorite => {%>
            <div>
                <li> <%= favorite %></li>
            </div>
       <% }) %>
